# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# -----------------------------------------------------------
# Node / Dependencies
# -----------------------------------------------------------
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# -----------------------------------------------------------
# Expo Specific
# -----------------------------------------------------------
.expo/
dist/
web-build/
expo-env.d.ts
eas-build-info.json
.eas/
.expo-shared/

# -----------------------------------------------------------
# Native (Android & iOS)
# -----------------------------------------------------------

#빌드배포할때는 주석 풀기

.env
.env*
.env.production
firebase.config.js
google-services.json
garabu-*.json

google-services.json
    
GoogleService-Info.plist

android/
Android
android/.gradle/
android/app/.cxx/
android/app/build/
android/app/src/debug/
android/app/src/release/
android/local.properties
android/.idea/
android/.vscode/
android/app/src/main/assets/
android/app/src/main/res/raw/
!android/app/src/main/res/raw/keep.xml 
!android/gradle/wrapper/gradle-wrapper.jar 
.kotlin/ 

iOS
ios/
ios/Pods/
ios/.symlinks/
ios/.build/
ios/*.xcworkspace 
ios/DerivedData/
ios/build/
ios/.xccheckout
ios/.idea/
ios/.vscode/

# Native Secrets/Keys (Crucial for Security)
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# -----------------------------------------------------------
# Local Environment & Configuration
# -----------------------------------------------------------

!.env.example 

# -----------------------------------------------------------
# IDE & Editor Specific
# -----------------------------------------------------------
.idea/
.vscode/
*.iml
.DS_Store # macOS specific
Thumbs.db # Windows specific
.history/ # VS Code local history

# VS Code specific (more granular)
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# -----------------------------------------------------------
# Build / Cache / Temp Files
# -----------------------------------------------------------
#build/
*.tsbuildinfo 
.metro-health-check* 
.git/HEAD 
.watchmanconfig 
*~
*.bak
*.swp
.fusebox/
.next/ 
app-example/ 
*.pem 
*.orig.* 

.claude/
Claude.md
/note

.DS_Store

.env.local

.env.development.local

.env.test.local

.env.example

# @generated expo-cli sync-2b81b286409207a5da26e14c78851eb30d8ccbdb
# The following patterns were generated by expo-cli

expo-env.d.ts
# @end expo-cli

/docs
docs/

/scripts
scripts/